*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
  color: inherit;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  appearance: button;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-primary {
  --real-background-opacity: 1;
  background-color: rgba(var(--real-theme-primary), var(--real-background-opacity)) !important;
}

.text-primary {
  color: rgb(var(--real-theme-primary)) !important;
}

.text-over-primary {
  color: rgb(var(--real-theme-primary-text)) !important;
}

.border-primary {
  border-color: rgb(var(--real-theme-primary)) !important;
}

.bg-secondary {
  --real-background-opacity: 1;
  background-color: rgba(var(--real-theme-secondary), var(--real-background-opacity)) !important;
}

.text-secondary {
  color: rgb(var(--real-theme-secondary)) !important;
}

.text-over-secondary {
  color: rgb(var(--real-theme-secondary-text)) !important;
}

.border-secondary {
  border-color: rgb(var(--real-theme-secondary)) !important;
}

.bg-success {
  --real-background-opacity: 1;
  background-color: rgba(var(--real-theme-success), var(--real-background-opacity)) !important;
}

.text-success {
  color: rgb(var(--real-theme-success)) !important;
}

.text-over-success {
  color: rgb(var(--real-theme-success-text)) !important;
}

.border-success {
  border-color: rgb(var(--real-theme-success)) !important;
}

.bg-info {
  --real-background-opacity: 1;
  background-color: rgba(var(--real-theme-info), var(--real-background-opacity)) !important;
}

.text-info {
  color: rgb(var(--real-theme-info)) !important;
}

.text-over-info {
  color: rgb(var(--real-theme-info-text)) !important;
}

.border-info {
  border-color: rgb(var(--real-theme-info)) !important;
}

.bg-warning {
  --real-background-opacity: 1;
  background-color: rgba(var(--real-theme-warning), var(--real-background-opacity)) !important;
}

.text-warning {
  color: rgb(var(--real-theme-warning)) !important;
}

.text-over-warning {
  color: rgb(var(--real-theme-warning-text)) !important;
}

.border-warning {
  border-color: rgb(var(--real-theme-warning)) !important;
}

.bg-error {
  --real-background-opacity: 1;
  background-color: rgba(var(--real-theme-error), var(--real-background-opacity)) !important;
}

.text-error {
  color: rgb(var(--real-theme-error)) !important;
}

.text-over-error {
  color: rgb(var(--real-theme-error-text)) !important;
}

.border-error {
  border-color: rgb(var(--real-theme-error)) !important;
}
